/**
 * Config
 */
// Import fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap')
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swap')

// Fonts
$font-title = 'Playfair Display', cursive
$font-text = 'Source Sans Pro', sans-serif
$font-size-title = 2.5rem
$font-size-subtitle = 1.25rem
$font-size-text = 1rem

// Colors
$color-black = #0E0E0E
$color-white = #FAF8F8

body
    overflow hidden
    background-color $color-black
    animation start-animation 2s ease-in-out
@keyframes start-animation
    0%
        opacity 0
    100%
        opacity 1

.svg-white
    fill $color-white

// Reset
*
    margin 0
    padding 0

.is-visible
    display none

/**
 * Canvas cursor
 */
.canvas-cursor
    position fixed
    top 0
    left 0
    height 100%
    width 100%
    pointer-events none
    z-index 1000

/**
 * Three.js home
 */
.three-js-home
    position absolute
    top 0
    left 0
    height 100%
    width 100%
    z-index -1

/**
 * Home
 */
// Section
.home
    position relative
    width 100vw
    height 100vh
    height calc(var(--vh, 1vh) * 100)
    color $color-white
    overflow hidden
    transition opacity 0.4s ease-in-out
    will-change opacity
    // Title
    .home-title
        position absolute
        top 50%
        display flex
        flex-direction row
        justify-content center
        align-items center
        width 100vw
        transform translateY(-50%)
        font-family $font-title
        font-size 5rem
        transition opacity 0.4s ease-in-out
        will-change opacity
        .first-name
        .last-name
            display inline-flex
            letter-spacing 0.5rem
            span
                animation home-title-animation 1s ease-in-out 0s 1 normal both
                will-change opacity, transform
            @keyframes home-title-animation
                0%
                    opacity 0
                    transform translateY(35%)
                100%
                    opacity 1
                    transform translateY(0%)
        .last-name
            margin-left 30px
    // Scroll arrow
    .see-work-arrow
        position absolute
        bottom 80px
        left 50%
        width 24px
        height 24px
        fill $color-white
        transform translate(-50%) rotate(90deg)
        cursor pointer
        transition opacity 0.4s ease-in-out
        will-change opacity
        &:hover
            opacity 0.6

/**
 * Work
 */
// Section
.work
    .black-project
    .black-project a
        color $color-white
    .white-project
    .white-project a
        color $color-black
        background-color $color-white
    // Common style
    .project
        position relative
        height 100vh
        height calc(var(--vh, 1vh) * 100)
        padding 0px 150px
        transition opacity 0.4s ease-in-out
        will-change opacity
        // Header
        .header
            padding 30px 0px 30px 0px
            display flex
            flex-direction row
            justify-content space-between
            align-items center
            .logo
                cursor pointer
            .about-button
                font-family $font-title
                font-size $font-size-subtitle
                cursor pointer
                transition opacity 0.4s ease-in-out
                will-change opacity
                &:hover
                    opacity 0.6
        // Content
        .project-content-position
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -55%)
        .project-title
            margin-bottom 30px
            font-family $font-title
            font-size $font-size-title
        .project-display-flex-row
            display flex
            flex-direction row
            .project-content
                width 38vw
                .project-image
                    max-width 638px
                    img
                        width 100%
                        height auto
                .project-description
                    max-width 638px
                    margin-top 20px
                    font-family $font-text
                    font-size $font-size-text
                    line-height 24px
            .project-info
                margin 80px 0px 0px 100px
                width 22vw
                .project-date
                .project-tools
                .project-role
                    margin-bottom 30px
                    .date-subtitle
                    .tools-subtitle
                    .role-subtitle
                        font-family $font-text
                        font-size $font-size-subtitle
                    .date-info
                    .tools-info
                    .role-info
                        margin-left 5px
                        font-family $font-text
                        font-size $font-size-text
                        line-height 24px
                        opacity 0.65
        // See project link
        .see-project
            position absolute
            right 150px
            bottom 100px
            display flex
            flex-direction row
            align-items center
            cursor pointer
            transition opacity 0.4s ease-in-out
            will-change opacity, transform
            a
                margin-right 5px
                font-family $font-title
                font-size $font-size-subtitle
                text-decoration none
            &::after
                content ''
                width 20px
                border 0.5px solid
            &:hover
                opacity 0.6
            &:hover::after
                animation animation-line-slide 1s ease-in-out 0s infinite alternate both
        // Call to scroll
        .scroll
            position absolute
            left 125px
            bottom 60px
            display flex
            flex-direction row
            align-items center
            transform rotate(-90deg)
            cursor pointer
            transition opacity 0.4s ease-in-out
            will-change opacity
            span
                margin-left 15px
                font-family $font-title
                font-size 0.75rem
            &::before
                content ''
                width 20px
                border 0.5px solid
                animation animation-line-slide 1s ease-in-out 0s infinite alternate-reverse both
            &:hover
                opacity 0.6

// Animation-line-slide
@keyframes animation-line-slide
    0%
        transform translateX(0px)
    100%
        transform translateX(8px)

/**
 * About
 */
// Section
.about-position
    position fixed
    top 0
    left 0
    background-color $color-black
    z-index 300
    opacity 0
    transition opacity 0.4s ease-in-out
    will-change opacity
    .about
        position relative
        width 100vw
        height 100vh
        height calc(var(--vh, 1vh) * 100)
        color $color-white
        .close-button
            position absolute
            top 34px
            right 150px
            font-family $font-title
            font-size $font-size-subtitle
            cursor pointer
            transition opacity 0.4s ease-in-out
            will-change opacity
            &:hover
                opacity 0.6
        // Content
        .about-display-flex-row
            display flex
            flex-direction row
            justify-content center
            align-items center
            padding 150px 150px 0px 150px
            .about-content
                max-width 612px
                .about-me
                    .title
                        font-family $font-title
                        font-size $font-size-title
                    p
                        margin-top 20px
                        font-family $font-text
                        font-size $font-size-text
                        line-height 24px
                .contact-me
                    margin-top 60px
                    .title
                        font-family $font-title
                        font-size $font-size-title
                    .media
                        margin-top 20px
                        font-family $font-text
                        font-size $font-size-text
                        line-height 24px
                        display flex
                        flex-direction column
                        div
                            padding  5px 0px 5px 0px
                            a
                                margin-right 20px
                                color $color-white
                                text-decoration none
                                transition opacity 0.3s ease-in-out
                                will-change opacity
                                &:hover
                                    opacity 0.6
            .loup-image
                margin-left 100px
                width 20vw
                max-width 336px
                img
                    width 100%
                    height auto

/**
 * Footer
 */
.footer
    position absolute
    left 50%
    bottom 20px
    transform translateX(-50%)
    font-family $font-text
    font-size 0.625rem
    font-weight 300
    opacity 0.7

/**
 * Responsive
 */
@media screen and (orientation: portrait)
    /**
    * Canvas cursor
    */
    .canvas-cursor
        display none

    /**
    * Home
    */
    // Section
    .home
        // Title
        .home-title
            flex-direction column
            font-size 2.5rem
            .first-name
            .last-name
                letter-spacing 0.25rem
            .last-name
                margin-left 0

    /**
    * Work
    */
    // Section
    .work
        // Common style
        .project
            padding 0px 30px
            // Header
            .header
                padding 20px 0px 20px 0px
                .about-button
                    font-size $font-size-text
            // Content
            .project-title
                margin-bottom 20px
                font-size $font-size-subtitle
            .project-display-flex-row
                .project-content
                    width 84vw
                    .project-image
                        max-width none
                    .project-description
                        max-width none
                        margin-top 10px
                        font-size 0.875rem
                        line-height 21px
                .project-info
                    display none
            // See project link
            .see-project
                right 30px
                bottom 65px
                a
                    font-size $font-size-text
            // Call to scroll
            .scroll
                left 6px
                bottom 40px
                span
                    font-size 0.625rem

    /**
    * About
    */
    // Section
    .about-position
        .about
            .close-button
                top 26px
                right 30px
                font-size $font-size-text
            // Content
            .about-display-flex-row
                padding 70px 30px 0px 30px
                .about-content
                    max-width 538px
                    .about-me
                        .title
                            font-size $font-size-subtitle
                        p
                            margin-top 10px
                            font-size 0.875rem
                            line-height 21px
                    .contact-me
                        margin-top 20px
                        .title
                            font-size $font-size-subtitle
                        .media
                            margin-top 10px
                            font-size 0.875rem
                            line-height 21px
                .loup-image
                    display none

    /**
    * Footer
    */
    .footer
        bottom 10px