//////////////////////// CONFIG ////////////////////////
// Import fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap')
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swa')

// Fonts
$font-title = 'Playfair Display', cursive
$font-text = 'Source Sans Pro', sans-serif
$font-size-title = 2.5rem
$font-size-subtitle = 1.25rem
$font-size-text = 1rem

// Colors
$color-black = #0E0E0E
$color-white = #FAF8F8

// Reset
*
    margin 0
    padding 0

// Sections
section
    width 100vw
    height 100vh