/**
 * Config
 */
// Import fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap')
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&display=swa')

// Fonts
$font-title = 'Playfair Display', cursive
$font-text = 'Source Sans Pro', sans-serif
$font-size-title = 2.5rem
$font-size-subtitle = 1.25rem
$font-size-text = 1rem

// Colors
$color-black = #0E0E0E
$color-white = #FAF8F8

body
    overflow hidden
    background $color-black

.svg-white
    fill $color-white

// Reset
*
    margin 0
    padding 0

/**
 * Home
 */
// Section
.home
    position relative
    width 100vw
    height 100vh
    color $color-white
    transition opacity 0.4s
    will-change opacity
    // Title
    .home-title
        position absolute
        top 50%
        width 100vw
        text-align center
        transform translateY(-50%)
        font-family $font-title
        font-size 5rem
        letter-spacing 0.5rem
    // Scroll arrow
    .see-work-arrow
        position absolute
        bottom 80px
        left 50%
        width 24px
        height 24px
        fill $color-white
        transform translate(-50%) rotate(90deg)
        cursor pointer
        will-change opacity
        &:hover
            opacity 0.6
            transition 0.3s
            transition-timing-function ease-in-out

/**
 * Work
 */
// Section
.work
    .black-project
    .black-project a
        color $color-white
    .white-project
    .white-project a
        color $color-black
        background $color-white
    // Common style
    .project
        position relative
        height 100vh
        padding 0px 100px
        transition opacity 0.4s
        will-change opacity
        // Header
        .header
            padding 30px 0px 50px 0px
            display flex
            flex-direction row
            justify-content space-between
            align-items baseline
            .logo
                text-transform none
                text-decoration none
            .about-button
                font-family $font-title
                font-size $font-size-subtitle
                cursor pointer
                will-change opacity
                &:hover
                    opacity 0.6
                    transition 0.3s
                    transition-timing-function ease-in-out
        // Content
        .project-title
                margin-bottom 40px
                font-family $font-title
                font-size $font-size-title
        .project-display-flex-row
            display flex
            flex-direction row
            .project-image
                width 49vw
                img
                    width: 100%
                    height auto
            .project-info
                margin 80px 0px 0px 60px
                .project-date
                .project-tools
                .project-team
                    margin-bottom 30px
                    .date-subtitle
                    .tools-subtitle
                    .team-subtitle
                        font-family $font-title
                        font-size $font-size-subtitle
                    .date-info
                    .tools-info
                    .team-info
                        margin-left 5px
                        font-family $font-text
                        font-size $font-size-text
                        line-height 24px
                        opacity 0.65
        .project-description
            width 46vw
            margin-top 50px
            font-family $font-text
            font-size $font-size-text
            line-height 24px
        // See project link
        .see-project
            position absolute
            right 100px
            bottom 100px
            display flex
            flex-direction row
            align-items center
            a
                margin-right 5px
                font-family $font-title
                font-size $font-size-subtitle
                text-decoration none
                will-change opacity
            &:hover
                opacity 0.6
                transition 0.3s
                transition-timing-function ease-in-out
            &::after
                content ''
                width 20px
                border 0.5px solid
                will-change transform
            &:hover::after
                animation-name animation-line-slide
                animation-duration 1.5s
                animation-timing-function ease-in-out
                animation-iteration-count infinite
        // Call to scroll
        .scroll
            position absolute
            left 0
            bottom 60px
            display flex
            flex-direction row
            align-items center
            transform rotate(-90deg)
            span
                margin-left 5px
                font-family $font-title
                font-size 12px
            &::before
                content ''
                width 20px
                border 0.5px solid

/**
 * About
 */
// Section
.about
    position relative
    width 100vw
    height 100vh
    color $color-white
    .close-button
        position absolute
        top 30px
        right 100px
        font-family $font-title
        font-size $font-size-subtitle
        cursor pointer
        will-change opacity
        &:hover
            opacity 0.6
            transition 0.3s
            transition-timing-function ease-in-out
    // Content
    .about-display-flex-row
        display flex
        flex-direction row
        justify-content space-between
        align-items center
        padding 140px 100px 0px 100px
        .about-content
            width 40vw
            .about-me
                .title
                    font-family $font-title
                    font-size $font-size-title
                p
                    margin-top 20px
                    font-family $font-text
                    font-size $font-size-text
                    line-height 24px
            .contact-me
                margin-top 60px
                .title
                    font-family $font-title
                    font-size $font-size-title
                .media
                    margin-top 20px
                    font-family $font-text
                    font-size $font-size-text
                    line-height 24px
                    display flex
                    flex-direction column
                    a
                        margin-right 20px
                        color $color-white
                        text-decoration none
                        will-change opacity
                        &:hover
                            opacity 0.6
                            transition 0.3s
                            transition-timing-function ease-in-out
        .loup-image
            margin-left 100px
            max-width 22vw
            img
                width 100%
                height auto

/**
 * Footer
 */
.footer
    position absolute
    left 50%
    bottom 20px
    transform translateX(-50%)
    font-family $font-text
    font-size 0.625rem
    font-weight 300
    opacity 0.7

/**
 * Animations
 */
// See project
@keyframes animation-line-slide
    0%
        transform translateX(0px)
    50%
        transform translateX(5px)
    100%
        transform translateX(0px)
